body {
  background-image: url('To-do.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 35px;
  padding: auto;
  min-height: 780px;
  max-height: max-content;
  width: auto;
}
h1,h2 {
  font-family: "Georgia", Times, serif;
  font-size: 45px;
  text-align: center;
  text-decoration: dashed;
}
.container {
  font-family: "Times New Roman", Times, serif;
  background: rgba(237, 60, 95, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: auto;
  margin: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 5px solid rgb(247, 221, 226);
  padding-top: 30px;
  height: 90px;
  width: auto;
}
.Lists {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  background: rgba(237, 60, 95, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  margin: 30px;
  border: 5px solid rgb(247, 221, 226);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  height: auto;
  width: auto;
}
button {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  margin-block: 30px;
  padding: 10px 20px;
  background-color: rgba(171, 113, 225, 0.75);
  color: rgb(39, 15, 61);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  margin-block: 30px;
  padding: 10px 20px;
  background-color: rgba(248, 243, 169, 0.75);
  color: rgb(39, 15, 61);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
select {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  margin-block: 30px;
  padding: 10px 20px;
  background-color: rgba(173, 255, 169, 0.75);
  color: rgb(39, 15, 61);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Update {
  font-family: "Times New Roman", Times, serif;
  font-size: 35p;
  margin-block: 30px;
  padding: 5px 10px;
  background-color: rgba(180, 53, 11, 0); 
  color: rgb(39, 15, 61);
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
#Title
{
  font-family: "Georgia", Times, serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
